In [23]:
# !pip uninstall tidyzoning -y
# !pip install git+https://github.com/HOUPU1993/tidyzoning.git

Found existing installation: tidyzoning 0.1.0
Uninstalling tidyzoning-0.1.0:
  Successfully uninstalled tidyzoning-0.1.0
Collecting git+https://github.com/HOUPU1993/tidyzoning.git
  Cloning https://github.com/HOUPU1993/tidyzoning.git to c:\users\admin\appdata\local\temp\pip-req-build-5f7m519d
  Resolved https://github.com/HOUPU1993/tidyzoning.git to commit 502a318d30b52d180d6dbfe65e4b7264dcce6531
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: tidyzoning
  Building wheel for tidyzoning (setup.py): started
  Building wheel for tidyzoning (setup.py): finished with status 'done'
  Created wheel for tidyzoning: filename=tidyzoning-0.1.0-py3-none-any.whl size=3079 sha256=dbb9f201d4dd5ae9b173d4357a9851be8f5ab4ddfb387d020b42e287bcc1f611
  Stored in directory: C:\Users\Admin\AppData\Local\Temp\pip-ephem-wheel-cache-pookr3hb\wheels\f4\29\51\e431eb95e0bf6589310375ce483daada9c916a6f65f3b65a8f
Successfully built tidyzoning
Installing collected packages: tidyzoning
Successfully installed tidyzoning-0.1.0

  Running command git clone --filter=blob:none --quiet https://github.com/HOUPU1993/tidyzoning.git 'C:\Users\Admin\AppData\Local\Temp\pip-req-build-5f7m519d'

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from shapely.geometry import Point
from shapely.geometry import box

# input my libraries
from tidyzoning import find_district_idx

In [2]:
tidybuilding = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data/Tidybuildings/tidybuilding_2family.geojson")
tidyparcel = gpd.read_file(r"C:/Users/Admin/Desktop/zoning_data/Test_Data/Test_Parcels/testparcel_100per_correct.geojson")
tidyzoning = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data//Tidyzoning/tidyzoning_Haltom_City.geojson")

tidyzoning = tidyzoning[tidyzoning['geometry'].notnull()]
tidyzoning = tidyzoning.to_crs(tidyparcel.crs)
tidybuilding = tidybuilding.to_crs(tidyparcel.crs)

In [3]:
find_district_idx_results = find_district_idx(tidyparcel, tidyzoning)
find_district_idx_results

        prop_id object_id  zoning_id
3      03027805      1000        1.0
8      03027783      1001        1.0
10     03027791      1002        1.0
18     00684619      1003        3.0
22     06687849      1004        3.0
...         ...       ...        ...
75858  03027848       995        1.0
75863  03027856       996        1.0
75868  03027821       997        1.0
75871  04723295       998        1.0
75876  00381004       999        8.0

[15194 rows x 3 columns]

In [6]:
tidybuilding

,units_3bed,total_floors,max_unit_size,min_unit_size,floor_area,building_height,geometry
0,2.0,3.0,1563.0,1563.0,3126.0,45.0,"POLYGON ((-11797996.293 383429.969, -11797986...."

In [5]:
find_district_idx_results.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15194 entries, 3 to 75876
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   prop_id    15194 non-null  object
 1   object_id  15194 non-null  object
 2   zoning_id  10709 non-null  float64
dtypes: float64(1), object(2)
memory usage: 474.8+ KB

In [23]:
tidybuilding = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data/Tidybuildings/tidybuilding_2family.geojson")

In [24]:
import pandas as pd

def find_bldg_type(tidybuilding):
    # define the interested columns
    possible_columns = ["units_0bed", "units_1bed", "units_2bed", "units_3bed", "units_4bed"]
    
    # Filter the columns of interest, removing irrelevant columns
    available_columns = [col for col in possible_columns if col in tidybuilding.columns]
    tidybuilding = tidybuilding[available_columns]
    
    # calculate the sum of row
    row_sum = tidybuilding.sum(axis=1).iloc[0]
    
    # return the result
    if row_sum in [1, 2, 3]:
        return f"{int(row_sum)}_family"
    elif row_sum > 3:
        return "4_family"
    else:
        return "other"