In [1]:
# !pip uninstall tidyzoning -y
# !pip install git+https://github.com/HOUPU1993/tidyzoning.git

Found existing installation: tidyzoning 0.1.0
Uninstalling tidyzoning-0.1.0:
  Successfully uninstalled tidyzoning-0.1.0
Collecting git+https://github.com/HOUPU1993/tidyzoning.git
  Cloning https://github.com/HOUPU1993/tidyzoning.git to c:\users\admin\appdata\local\temp\pip-req-build-5gi2jhyq
  Resolved https://github.com/HOUPU1993/tidyzoning.git to commit 386bfe996e3416bc326759bd1aa8c5f4a14af5a9
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: tidyzoning
  Building wheel for tidyzoning (setup.py): started
  Building wheel for tidyzoning (setup.py): finished with status 'done'
  Created wheel for tidyzoning: filename=tidyzoning-0.1.0-py3-none-any.whl size=3068 sha256=fd1373c2dcd6189edc02d76fd31651a19fcb2edb62cd0508e7d0d2741a0de2f3
  Stored in directory: C:\Users\Admin\AppData\Local\Temp\pip-ephem-wheel-cache-rwiqqm70\wheels\f4\29\51\e431eb95e0bf6589310375ce483daada9c916a6f65f3b65a8f
Successfully built tidyzoning
Installing collected packages: tidyzoning
Successfully installed tidyzoning-0.1.0

  Running command git clone --filter=blob:none --quiet https://github.com/HOUPU1993/tidyzoning.git 'C:\Users\Admin\AppData\Local\Temp\pip-req-build-5gi2jhyq'

In [8]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from shapely.geometry import Point
from shapely.geometry import box


from tidyzoning import find_district_idx

In [3]:
tidybuilding = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data/Tidybuildings/tidybuilding_2family.geojson")
tidyparcel = gpd.read_file(r"C:/Users/Admin/Desktop/zoning_data/Test_Data/Test_Parcels/testparcel_100per_correct.geojson")
tidyzoning = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data//Tidyzoning/tidyzoning_Haltom_City.geojson")

tidyzoning = tidyzoning[tidyzoning['geometry'].notnull()]
tidyzoning = tidyzoning.to_crs(tidyparcel.crs)
tidybuilding = tidybuilding.to_crs(tidyparcel.crs)

In [4]:
tidyparcel

,Prop_ID,GEO_ID,parcel_id,parcel_addr,landuse,landuse_spec,parcel_label,Found_Match,match_road_address,shape_index,50_threshold,num_edges,angle_difference,shared_side,parcel_bearing,road_bearing,angle,distance_to_road,side,geometry
0,03027805,NaN,1000,3924 EARL ST,R,A,regular inside parcel,True,Earl St,1.192563,False,4,0.790292,False,-0.001866,0.011927,0.790292,7.329586,front,"LINESTRING (-10830196.724 3866975.583, -108301..."
1,03027805,NaN,1000,3924 EARL ST,R,A,regular inside parcel,True,Earl St,1.192563,False,4,0.790292,True,1.560608,0.011927,88.732853,28.968721,Interior side,"LINESTRING (-10830197.168 3866931.986, -108301..."
2,03027805,NaN,1000,3924 EARL ST,R,A,regular inside parcel,True,Earl St,1.192563,False,4,0.790292,True,-3.138026,0.011927,0.479009,50.845007,rear,"LINESTRING (-10830175.077 3866932.065, -108301..."
3,03027805,NaN,1000,3924 EARL ST,R,A,regular inside parcel,True,Earl St,1.192563,False,4,0.790292,True,-1.589407,0.011927,88.250309,29.215929,centroid,POINT (-10830185.813 3866953.859)
4,03027805,NaN,1000,3924 EARL ST,R,A,regular inside parcel,True,Earl St,1.192563,False,4,0.790292,True,-1.589407,0.011927,88.250309,29.215929,Interior side,"LINESTRING (-10830174.268 3866975.541, -108301..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75875,00381004,NaN,999,1712 N BEACH ST,NaN,F1,regular inside parcel,True,N Beach St,1.361853,True,4,0.044117,True,3.141498,1.573211,89.856205,79.090904,Interior side,"LINESTRING (-10830195.409 3866894.266, -108302..."
75876,00381004,NaN,999,1712 N BEACH ST,NaN,F1,regular inside parcel,True,N Beach St,1.361853,True,4,0.044117,True,-1.558978,1.573211,0.538781,145.821717,centroid,POINT (-10830262.414 3866913.126)
75877,00381004,NaN,999,1712 N BEACH ST,NaN,F1,regular inside parcel,True,N Beach St,1.361853,True,4,0.044117,True,-1.558978,1.573211,0.538781,145.821717,rear,"LINESTRING (-10830195.855 3866932.011, -108301..."
75878,00381004,NaN,999,1712 N BEACH ST,NaN,F1,regular inside parcel,True,N Beach St,1.361853,True,4,0.044117,True,-0.000172,1.573211,89.851809,78.928026,Interior side,"LINESTRING (-10830329.288 3866932.034, -108303..."
75879,00381004,NaN,999,1712 N BEACH ST,NaN,F1,regular inside parcel,True,N Beach St,1.361853,True,4,0.044117,False,1.572441,1.573211,0.044117,12.197149,front,"LINESTRING (-10830329.226 3866894.279, -108303..."

In [5]:
tidyzoning

,dist_info,lot_constraints,structure_constraints,other_constraints,geometry
0,"{'dist_name': 'Single-Family Residential', 'di...","{'lot_size': [{'unit': 'acres', 'use_name': '1...","{'setback_front': [{'unit': 'feet', 'use_name'...","{'parking': [{'unit': 'stalls', 'use_name': '1...","MULTIPOLYGON (((-10829182.585 3866215.182, -10..."
1,"{'dist_name': 'Single-Family Residential', 'di...","{'lot_size': [{'unit': 'acres', 'use_name': '1...","{'setback_front': [{'unit': 'feet', 'use_name'...","{'parking': [{'unit': 'stalls', 'use_name': '1...","MULTIPOLYGON (((-10829727.287 3866115.173, -10..."
3,"{'dist_name': 'Duplex Residential', 'dist_abbr...","{'lot_size': [{'unit': 'acres', 'use_name': ['...","{'setback_front': [{'unit': 'feet', 'use_name'...","{'parking': [{'unit': 'stalls', 'use_name': ['...","MULTIPOLYGON (((-10829844.874 3866386.842, -10..."
6,"{'dist_name': 'Multiple Family Residential', '...",[ ],"{'setback_front': [{'unit': 'feet', 'use_name'...","{'parking': [{'unit': 'stalls', 'use_name': ['...","MULTIPOLYGON (((-10827770.055 3873318.245, -10..."
7,"{'dist_name': 'Office', 'dist_abbr': 'O', 'dis...",[ ],[ ],[ ],"MULTIPOLYGON (((-10830277.539 3866854.440, -10..."
8,"{'dist_name': 'Commercial', 'dist_abbr': 'C-1'...",[ ],[ ],[ ],"MULTIPOLYGON (((-10828680.964 3866302.949, -10..."
9,"{'dist_name': 'Commercial', 'dist_abbr': 'C-2'...",[ ],[ ],[ ],"MULTIPOLYGON (((-10828928.601 3866165.418, -10..."
10,"{'dist_name': 'Commercial', 'dist_abbr': 'C-3'...",[ ],[ ],[ ],"MULTIPOLYGON (((-10828419.109 3866140.307, -10..."
11,"{'dist_name': 'Commercial', 'dist_abbr': 'C-4'...",[ ],[ ],[ ],"MULTIPOLYGON (((-10830098.471 3866467.918, -10..."
12,"{'dist_name': 'Commercial', 'dist_abbr': 'C-5'...",[ ],[ ],[ ],"MULTIPOLYGON (((-10828352.614 3866559.640, -10..."
13,"{'dist_name': 'Industrial', 'dist_abbr': 'M-1'...",[ ],[ ],[ ],"MULTIPOLYGON (((-10826584.227 3866278.671, -10..."
14,"{'dist_name': 'Heavy Industrial', 'dist_abbr':...",[ ],[ ],[ ],"MULTIPOLYGON (((-10828417.225 3866254.699, -10..."
16,"{'dist_name': 'Planned Development', 'dist_abb...",[ ],[ ],[ ],"MULTIPOLYGON (((-10829781.987 3866772.275, -10..."
17,"{'dist_name': 'Community Facilities', 'dist_ab...",[ ],[ ],[ ],"MULTIPOLYGON (((-10829837.445 3866096.165, -10..."

In [6]:
tidybuilding

,units_3bed,total_floors,max_unit_size,min_unit_size,floor_area,building_height,geometry
0,2.0,3.0,1563.0,1563.0,3126.0,45.0,"POLYGON ((-11797996.293 383429.969, -11797986...."

In [9]:
find_district_idx_results = find_district_idx(tidyparcel, tidyzoning)
find_district_idx_results = pd.DataFrame(find_district_idx_results, columns=["Prop_ID", "parcel_id", "zoning_index"])
find_district_idx_results

NameError: name 'gpd' is not defined

In [93]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15194 entries, 0 to 15193
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Prop_ID       15194 non-null  object
 1   parcel_id     15194 non-null  object
 2   zoning_index  10709 non-null  float64
dtypes: float64(1), object(2)
memory usage: 356.2+ KB

In [94]:
find_district_idx_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15194 entries, 0 to 15193
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Prop_ID       15194 non-null  object
 1   parcel_id     15194 non-null  object
 2   zoning_index  10709 non-null  float64
dtypes: float64(1), object(2)
memory usage: 356.2+ KB