In [1]:
# !pip uninstall tidyzoning -y
# !pip install git+https://github.com/HOUPU1993/tidyzoning.git

WARNING: Skipping tidyzoning as it is not installed.

Collecting git+https://github.com/HOUPU1993/tidyzoning.git
  Cloning https://github.com/HOUPU1993/tidyzoning.git to c:\users\admin\appdata\local\temp\pip-req-build-mxe5umee
  Resolved https://github.com/HOUPU1993/tidyzoning.git to commit a421a514cf85703cdbbaf227597771dc4c809c96
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: tidyzoning
  Building wheel for tidyzoning (setup.py): started
  Building wheel for tidyzoning (setup.py): finished with status 'done'
  Created wheel for tidyzoning: filename=tidyzoning-0.1.0-py3-none-any.whl size=4404 sha256=598256b7f4bd4ee64fe94feabc0016f3554cc2c70991d63d44c39e9641db0ad4
  Stored in directory: C:\Users\Admin\AppData\Local\Temp\pip-ephem-wheel-cache-fkdang4h\wheels\f4\29\51\e431eb95e0bf6589310375ce483daada9c916a6f65f3b65a8f
Successfully built tidyzoning
Installing collected packages: tidyzoning
Successfully installed tidyzoning-0.1.0

  Running command git clone --filter=blob:none --quiet https://github.com/HOUPU1993/tidyzoning.git 'C:\Users\Admin\AppData\Local\Temp\pip-req-build-mxe5umee'

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import json

from shapely.geometry import Point
from shapely.geometry import box

# input my libraries
from tidyzoning import find_district_idx
from tidyzoning import find_bldg_type
from tidyzoning import check_land_use

In [2]:
tidybuilding = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data/Tidybuildings/tidybuilding_2family.geojson")
tidyparcel = gpd.read_file(r"C:/Users/Admin/Desktop/zoning_data/Test_Data/Test_Parcels/testparcel_100per_correct.geojson")
tidyzoning = gpd.read_file(r"C:/Users\Admin/Desktop/zoning_data/Test_Data//Tidyzoning/tidyzoning_Haltom_City.geojson")

tidyzoning = tidyzoning.to_crs(tidyparcel.crs)
tidybuilding = tidybuilding.to_crs(tidyparcel.crs)

## Create Different Functions

### `find_district_idx` function

In [3]:
find_district_idx_results = find_district_idx(tidyparcel, tidyzoning)
find_district_idx_results

        prop_id object_id  zoning_id
3      03027805      1000        1.0
8      03027783      1001        1.0
10     03027791      1002        1.0
18     00684619      1003        3.0
22     06687849      1004        3.0
...         ...       ...        ...
75858  03027848       995        1.0
75863  03027856       996        1.0
75868  03027821       997        1.0
75871  04723295       998        1.0
75876  00381004       999        8.0

[15194 rows x 3 columns]

### `find_bldg_type` function

In [6]:
find_bldg_type_results = find_bldg_type(tidybuilding)
find_bldg_type_results

'2_family'

### `Check` function

#### 01. `check_land_use` function
- `find_bldg_type` functiona is integrated internally.

In [4]:
result_df = check_land_use(tidybuilding, tidyzoning)
result_df

    zoning_id  allowed
0           0    False
1           1    False
2           2    False
3           3     True
4           4    False
5           5    False
6           6    False
7           7    False
8           8    False
9           9    False
10         10    False
11         11    False
12         12    False
13         13    False
14         14    False
15         15    False
16         16    False
17         17    False